<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cordova.plugins.cookiehelper"
      version="1.0.0">
    <name>CookieHelper</name>
    <description>This plugin enables the management of cookies in WebViews Android as those platforms restrict the use of "document.cookie".</description>
    <license>MIT</license>

    <keywords>cordova,phonegap,cookie,cookies,cookie-manager,cookie-plugin</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 
 
    <js-module src="www/cookieHelper.js" name="cookieHelper">
        <clobbers target="cookieHelper" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CookieHelper">
                <param name="android-package" value="com.cordova.plugins.cookiehelper.CookieHelper"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/com/cordova/plugins/cookiehelper/CookieHelper.java" target-dir="src/com/cordova/plugins/cookiehelper" />      
    </platform>          
</plugin>
